<div class="contextual">
  <%= link_to l(:button_back), redmine_mautic_index_path %>
</div>

<h1>Edit connection to <%= @mautic_connection.url %></h1>
<%= labelled_form_for(@mautic_connection, as: :connection, url: redmine_mautic_path(@mautic_connection)) do |form| %>
<%= render 'form', form: form %>
<% end %>